
## <summary>policy for aitra</summary>


########################################
## <summary>
##	Transition to aitra.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`aitra_domtrans',`
	gen_require(`
		type aitra_t, aitra_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, aitra_exec_t, aitra_t)
')


########################################
## <summary>
##	Execute aitra server in the aitra domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`aitra_initrc_domtrans',`
	gen_require(`
		type aitra_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, aitra_initrc_exec_t)
')


########################################
## <summary>
##	Search aitra lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`aitra_search_lib',`
	gen_require(`
		type aitra_var_lib_t;
	')

	allow $1 aitra_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read aitra lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`aitra_read_lib_files',`
	gen_require(`
		type aitra_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, aitra_var_lib_t, aitra_var_lib_t)
')

########################################
## <summary>
##	Manage aitra lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`aitra_manage_lib_files',`
	gen_require(`
		type aitra_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, aitra_var_lib_t, aitra_var_lib_t)
')

########################################
## <summary>
##	Manage aitra lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`aitra_manage_lib_dirs',`
	gen_require(`
		type aitra_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, aitra_var_lib_t, aitra_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a aitra environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`aitra_admin',`
	gen_require(`
		type aitra_t;
		type aitra_initrc_exec_t;
		type aitra_var_lib_t;
	')

	allow $1 aitra_t:process { ptrace signal_perms };
	ps_process_pattern($1, aitra_t)

	aitra_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 aitra_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, aitra_var_lib_t)

')

