# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=AITRA Coin
Comment=AITRA Coin QT main network
GenericName=AITRA_Coin Digital Currency QT client main network
Exec=aitra-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/aitra.png
MimeType=x-scheme-handler/aitra;
Categories=X-Office;X-Finance;
Keywords=internet;aitra;zaitra;aitra;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;
Version=1.0
