# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=AITRA Coin Daemon SNAP
Comment=testnet
GenericName=AITRA_Coin Digital Currency Daemon Client testnet network
Exec=aitra-core.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/aitra_testnet.png
MimeType=x-scheme-handler/aitra;
Categories=X-Office;X-Finance;
Keywords=internet;aitra;zaitra;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;
Version=1.0
